@import "tailwindcss";

@theme {
  --color-brand: #2563eb;
  --color-bg-deep: #0a0a0b;
  --color-bg-panel: #121214;
  --color-bg-item: #1c1c1f;
  --color-border-subtle: #1f2937;
}

@layer base {
  body {
    @apply bg-bg-deep text-zinc-100 font-sans selection:bg-blue-500/30 overflow-hidden;
  }
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  @apply bg-zinc-800 rounded-full;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  @apply bg-zinc-700;
}
